.regular{
  font-family: "OpenSans-Regular", sans-serif, Arial;
  font-weight: 400;
}

.semi-bold{
  font-family: "OpenSans-SemiBold", sans-serif, Arial;
  font-weight: 600;
}

.bold{
  font-family: "OpenSans-Bold", sans-serif, Arial;
  font-weight: 700;
}

.title-1{
  @extend h1;
}

.title-2{
  @extend h2;
}

.title-3{
  @extend h3;
}

.title-4{
  @extend h4;
}

.title-5{
  @extend h5;
}